@import "tailwindcss";

@plugin "@tailwindcss/typography";
@theme {
  --color-prose-links: var(--color-indigo-600);
}

@import "prismjs/themes/prism-tomorrow.css";
.code-highlight {
  float: left;
  min-width: 100%;
}

/* 마크다운 내부에서 특정 줄을 강조했을 때 배경색 (예: code block {1,3-4}) */
.highlight-line {
  background-color: rgba(99, 102, 241, 0.15); /* indigo-500과 매칭되는 투명도 배경 */
  border-left: 4px solid rgb(99, 102, 241);
  display: block;
  margin-right: -1rem;
  margin-left: -1rem;
  padding-right: 1rem;
  padding-left: 0.75rem;
}

/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

